<h1>Welcome#about</h1>
	<p>Find me in app/views/welcome/about.html.erb</p>

  <h1>Get Your Blocitoff On</h1>
  	<p>Create a Self-Destructing To-Do List</p>
  	<p>An Easy Way to Stay Organized</p>
    
