<div id="item-<%= item.id %>" class="media">
	  <div class="item list-group-item">
	    <%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
	    <h4 class= 'list-group-item-heading'><%= item.name %></h4>

	  </div>
	</div>
